<header>
  <div class="mine">

    <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Contacts</a></li>
     </ul>
     </div>

     <div class="title">

<h1>Hello World!</h1><br>
<h2>I am Sanelisiwe Sogiba </h2>
     </div>

     <!-- <div class="para">
<p>I am a full-stack dveloper, with experience in </p> -->

</header>
<section id="about">
      <h1 class="heading" >About <span> Me </span></h1>

      <div class="row-1">
        <div class="image">
          <img src="images/me.JPG" alt="" />
        </div>

        <div class="content">
        <p>
           My name is Sanelisiwe Sogiba, I'm a final year student in Information Technology (Software Development)
           at the Tshwane University of Technology.
          </p>
          <p>
            I inspire to be the best at what I do,I am currently at The Digital
            Academy as a Full-stack developer Intern who is committed to improve
            skills in software development and business analysis. Skillful at
            using CSS, HTML, Typescript, and other programming languages to
            implement clean code. I am a collaborative team player with strong
            communication skills, and I am wellorganized. I am very adaptive to
            change, and I am a constantly and eagerly ready to learn new things
            in order to widen my IT skills.
          </p>
         
          <!-- <a href="#" class="btn">download CV</a> -->
          <a download="" href="/images/CV of LAHLANG KGOMOTSO MAKOTI.pdf"
            ><button class="btn">
              download CV <i class="fas fa-download"></i></button
          ></a>
          <!-- <a href="#" class="btn">hire me</a> -->
        </div>
      </div>

      <!-- <div class="row-2">
        <div class="box-container">
            <div class="box">
        <div class="skills">
            
          <h1 class="heading"><span> Soft </span> Skills</h1>

          <div class="progress">
            <h3>Problem Solving<span> 80% </span></h3>
            <div class="bar"><span></span></div>
          </div>
          <div class="progress">
            <h3>Interpersonal Skills <span> 80% </span></h3>
            <div class="bar"><span></span></div>
          </div>
          <div class="progress">
            <h3>Leadership <span> 80% </span></h3>
            <div class="bar"><span></span></div>
          </div>
          <div class="progress">
            <h3>Team Player <span> 80% </span></h3>
            <div class="bar"><span></span></div>
          </div>
          <div class="progress">
            <h3>Communication <span> 80% </span></h3>
            <div class="bar"><span></span></div>
          </div>
        </div>
        </div>
        

    </div>
      </div> -->
      
    </section>
<section class="about" id="about">
           <!-- <h1 class="heading" >About <span> Me </span></h1> -->
    
          <!-- <div class="row-1">
            <div class="image">
              <img src="images/me.JPG" alt="" />
            </div>
    
            <div class="content">
            <p>
               My name is Sanelisiwe Sogiba, I'm a final year student in Information Technology (Software Development)
               at the Tshwane University of Technology.
              </p>
              <p>
                I inspire to be the best at what I do,I am currently at The Digital
                Academy as a Full-stack developer Intern who is committed to improve
                skills in software development and business analysis. Skillful at
                using CSS, HTML, Typescript, and other programming languages to
                implement clean code. I am a collaborative team player with strong
                communication skills, and I am wellorganized. I am very adaptive to
                change, and I am a constantly and eagerly ready to learn new things
                in order to widen my IT skills.
              </p>
             
              <a href="#" class="btn">download CV</a>
              <a download="" href="/images/CV of LAHLANG KGOMOTSO MAKOTI.pdf"
                ><button class="btn">
                  download CV <i class="fas fa-download"></i></button
              ></a>
              <a href="#" class="btn">hire me</a> 
            </div>
          </div> 
     -->
          <div class="row-2">
            <div class="box-container">
                <div class="box">
            <div class="skills">
                
              <h1 class="heading"><span> Skills </span> </h1>
    
              <div class="progress">
                <h3>Problem Solving<span> 80% </span></h3>
                <div class="bar"><span></span></div>
              </div>
              <div class="progress">
                <h3>Interpersonal Skills <span> 80% </span></h3>
                <div class="bar"><span></span></div>
              </div>
              <div class="progress">
                <h3>Leadership <span> 80% </span></h3>
                <div class="bar"><span></span></div>
              </div>
              <div class="progress">
                <h3>Team Player <span> 80% </span></h3>
                <div class="bar"><span></span></div>
              </div>
              <div class="progress">
                <h3>Communication <span> 80% </span></h3>
                <div class="bar"><span></span></div>
              </div>
            </div>
            </div>
            
    
        </div>
          </div>
</section>
    